<div class="wtw-summary-widget-container">

	<div class="wtw-widget-container">
		<div class="wtw-widget-date">
			<span class="wtw-widget-day"><%- sourceDay %></span><span
				class="wtw-widget-time"><%- sourceTime %></span>
		</div>
		<div class="wtw-widget-description">
			<div class="wtw-widget-text"><%- condition.attributes.text %></div>
			<div class="wtw-widget-icon">
				<img src="<%- condition.attributes.icon %>"
					alt="<%- condition.attributes.text %>"
					title="<%- condition.attributes.text  %>">
			</div>
			<span class="wtw-widget-temp"><%- condition.attributes.temp
				%>&deg;C</span>
		</div>

		<div class="wtw-widget-error-message">
			<p class="wtw-widget-message">Error</p>
			<a href="#" class="wtw-widget-close-error">Close</a>
		</div>

		<div class="wtw-widget-details">
			<div class="wtw-widget-details-header"><%-
				condition.attributes.text %> - <%- writeTimeFormatted %></div>
			<div class="wtw-widget-details-row">
				<div class="wtw-widget-details-column1">
					<div class="wtw-widget-details-cell">Pressure</div>
				</div>

				<div class="wtw-widget-details-column2">
					<div class="wtw-widget-details-cell"><%-
						atmosphere.attributes.pressure %></div>
				</div>
			</div>
			<div class="wtw-widget-details-row">
				<div class="wtw-widget-details-column1">
					<div class="wtw-widget-details-cell">Humidity</div>
				</div>
				<div class="wtw-widget-details-column2">
					<div class="wtw-widget-details-cell"><%-
						atmosphere.attributes.humidity %></div>
				</div>
			</div>
			<div class="wtw-widget-details-row">
				<div class="wtw-widget-details-column1">
					<div class="wtw-widget-details-cell">Visibility</div>
				</div>
				<div class="wtw-widget-details-column2">
					<div class="wtw-widget-details-cell"><%-
						atmosphere.attributes.visibility %></div>
				</div>
			</div>
			<div class="wtw-widget-details-row">
				<div class="wtw-widget-details-column1">
					<div class="wtw-widget-details-cell">Rising</div>
				</div>
				<div class="wtw-widget-details-column2">
					<div class="wtw-widget-details-cell"><%-
						atmosphere.attributes.rising %></div>
				</div>
			</div>
			<div class="wtw-widget-details-row">
				<div class="wtw-widget-details-column1">
					<div class="wtw-widget-details-cell">Wind Speed</div>
				</div>
				<div class="wtw-widget-details-column2">
					<div class="wtw-widget-details-cell"><%-
						wind.attributes.speed %></div>
				</div>
			</div>
			<div class="wtw-widget-details-row">
				<div class="wtw-widget-details-column1">
					<div class="wtw-widget-details-cell">Wind Direction</div>
				</div>
				<div class="wtw-widget-details-column2">
					<div class="wtw-widget-details-cell"><%-
						wind.attributes.direction %></div>
				</div>
			</div>
		</div>
	</div>
</div>